{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{# 1) Lorsque le Thème est inclus dans le même fichier que le formulaire : #}
{% form_theme form 'ad/partials/_collection.html.twig' %}

{# ou : #}
{# 2) Lorsque le thème est présent dans un fichier externalisé : #}
{# {% form_theme form 'partials/theme.html.twig' %} #}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>
        {{ form_end(form) }}

    </div>
{% endblock %}



{% block javascripts %}
    <script>
        // Ajouter un bloc Image dans le formulaire :
        $('#add-image').click(function() {
            const index = +$('#widgets-counter').val();
            var container_sous_formulaire = $('#ad_images');

            // Récupérer le prototype des entrées :
            const tmpl = $(container_sous_formulaire).data('prototype').replace(/__name__/g, index);
console.log(tmpl);
            // J'injecte ce template au sein de la Div contenant les sous-formulaires :
            $(container_sous_formulaire).append(tmpl);

            $('#widgets-counter').val(index + 1);

            handleDeleteButton();
        });

        // Supprimer un bloc Image dans le formulaire :
        function handleDeleteButton() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }

        function updateCounter() {
            const count = +$('#ad_images div.form-group').length;
            $('#widgets-counter').val(count);
        }

        updateCounter();
        handleDeleteButton();
    </script>
{% endblock %}